include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include shipping_management *.css
recursive-include shipping_management *.csv
recursive-include shipping_management *.html
recursive-include shipping_management *.ico
recursive-include shipping_management *.js
recursive-include shipping_management *.json
recursive-include shipping_management *.md
recursive-include shipping_management *.png
recursive-include shipping_management *.py
recursive-include shipping_management *.svg
recursive-include shipping_management *.txt
recursive-exclude shipping_management *.pyc